/* Верхний бар */

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    font-family: "COOLVETICA";
    font-size: 120%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.top_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    background-color: black;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
}

.list_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70%;
    display: inline-block;
}

.top_line a img {
    display: flex;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 150%;
    display: inline-block;
}


/* Меню слева с JS */

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%; 
    width: 0; 
    position: fixed; 
    top: 0;
    left: 0;
    background-color: black; 
    overflow-x: hidden; 
    transition: 0.1s; 
}

.sidenav a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.x {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 3vw;
    padding: 4%;
}

.list_left_menu {
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2vw;
    width: 100%;
    transition: 0.5s;
}

.list_left_menu a:hover {
    transform: scale(1.03); 
  }

.list_left_menu a {
    margin-top: 5%;
    width: auto;
    display: inline-block;
}

.list_catalog {
    display: none;
    font-size: 80%;
    margin-left: 10%;
    transition: 0.5s;
}

.list_catalog a:hover {
    transform: scale(1.05); 
}

.catalog {
    display: inline-block;
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s;
}

.list_catalog a {
    margin-left: 5%;
}

.catalog a:hover {
    transform: scale(1.05); 
}


/* Общие настройки контента */

.content {
    display: flex;
    flex-direction: row;
    height: 93%;
    width: 100%;
    color: black;
}




